/* navbar css styles */
*{
  box-sizing: border-box;
}
html{
  position: relative;
}
.addProductBtn{
  display: block;
  width:200px;
  margin:auto;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #1843ef;
  color:white;
  padding: 8px 16px;
  border-radius: 9px;
  text-align: center;
  transition: all 0.3s;
}
.addProductBtn:hover{
  color:#f1f3f5;
  transform: translateY(-5px);
}
#userNavbar,#adminNavbar{
  margin-top: 16px;
  display: flex;
  align-items: center;
  color: #bac8ff;
  position: relative;
  margin-bottom: 50px;
  
}
#logo{
  display: inline-block;
  font-size: 30PX;
  letter-spacing: 12px;
  margin-right: 50px;
  margin-left: 30px;
}
#frontpart{
  flex-grow: 5;
}
#frontpart a:visited,#frontpart a:link{
  display: inline-block;
  text-decoration: none;
  font-size: 17.5px;
  padding : 0px 20px;
  color: #bac8ff;
  transition: transform 0.3s;
}
#frontpart a:hover{
  opacity: 0.8;
  transform: scale(2);
}
#logoutButton{
  text-decoration: none;
  font-size: 17.5px;
  padding: 0px 20px;
  color: #bac8ff;
  transition: transform 0.3s;
}
#logoutButton:hover{
  cursor: pointer;
  transform: scale(1.5);
}
.far:hover{
  cursor: pointer;
}
/* Add product page css code */
#formbox{
  display: block;
  max-height:90vh;
  width:600px;
  margin:auto;
  border: 1px solid plum;
  padding: 24px;
  border-radius:5px;
  background-color: #f1f3f5;
  box-shadow: 20px 20px 30px 0 #868e96;
}
#heading{
  text-align: center;
  margin-bottom:16px ;
  letter-spacing: 1.2px;
}
.inputfield{
  display: block;
  width: 100%;
  margin-bottom:24px;
  border: none;
  border-bottom: 1px solid plum;
  outline: none;
  background-color: #f1f3f5;
}
.row{
  display:flex;
  align-items: center;
  justify-content: center;
}
#addProductBody{
  padding: 32px;
  margin: auto;
  border-radius: 16px;
}
#addProductBody div:last-child{
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
}
/* home page product card styling */
#productHomeBody{
  width:1050px;
  margin: auto;
  display: grid;
  padding:32px 32px;
  grid-template-columns :1fr 1fr 1fr;
  column-gap: 80px;
  row-gap: 30px;
}
img{
  width: 100%;
  height: 200px;
}
.product-card{
  border-radius: 10px;
  box-shadow: 0 0 32px rgba(0,0,0,0.1);

  transition: all 0.3s;
}
.product-card:hover{
  box-shadow: 0 0 24px rgb(0,0,0,0.075);
  transform: translate(0,-20px);
}
#product-image{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-name{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.product-pricing{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px;
}
.btn{
  display: inline-block;
}
.searchButton{
  width: 500px;
  margin: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border: 1px solid #797f84;
  border-radius: 20px;
  padding: 8px;
}
#search{
  border: none;
  outline: none;
  font-size: 20px;
}
.button-search{
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: rgba(13, 133, 231, 0.966);
  height: 40px;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 20px
}
.icon.icon-search{
  stroke:#fff ;
  background-color:rgba(13, 133, 231, 0.966);
  margin: 2px 4px 0 0;
}
/* for alert div block */
#none{
  display: none;
}
#alert{
  opacity:0;
  position: fixed;
  top:0%;
  right:0%;
  width:400px;
  margin:auto;
  padding:16px 32px;
  border-radius: 10px;
  box-shadow: 0 16px 24px #868e96;
  text-align: center;
  margin-bottom: 16px;
  animation: cart 4s ease-out;
}
.icon{
  background-color: #74b816;
  stroke: white;
  border-radius: 50%;
  margin-left:8px
}

@keyframes cart {
  0%{
    opacity: 0;
  }
  20%{
    display: block;
    opacity:0.3;
  }
  40%{
    opacity:0.8;
  }
  50%{
    opacity:1;
  }
  75%{
    opacity:0.5;
  }
  100%{
    display: none;
    opacity:0;
  }
}
/* styling for cart page */

#productCardBody{
  display: grid;
  width:960px;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  row-gap: 80px;
  column-gap: 80px;
}
.cartItem{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 9px;
  padding:8px;
}
.cartItem img{
  
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.icon-delete{
  background-color: rgba(13, 132, 231, 0.441);
  stroke:#fff;
 margin: 0 8px 0 0;
}
.product-description{
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
}
.cartItem .product-name{
  color:#343a40;
  text-align: left;
}
.cart-row-quantity{
  width:25px;
  margin:0 5px 0 5px;
  border: none;
  outline: none;
  background-color: #f8f9fa;
}
.btn1{
  border:none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.delete:hover{
  opacity:0.75;
}
.delete{
  display:flex;
  width:100px;
  color: white;
  align-items: center;
  background-color: rgba(13, 133, 231, 0.966);
  border-radius: 9px;
  padding:8px 8px;
  cursor: pointer;
}
/* login PAGE styling */
.login-section{
  display: grid;
  grid-template-columns: 700px 1fr;
  height:100vh;
  padding:0px 16px;
}
.login-image{
  width:100%;
  height: 100%;
}
#loginBox{
  padding: 16px 48px;
}
.title{
  font-family: "Rubik",sans-serif;
  font-weight: 700px;
  color:rgba(13, 132, 231, 0.441);
  margin-bottom: 32px;
}
.heading{
  font-size: 64px;
  font-weight: 400;
  font-family: "Rubik",sans-serif;
  margin-left:32px;
  margin-bottom: 48px;
}
.login-form{
  margin-left:32px;
}
.login-form label{
  font-size: 24px;
  margin-bottom: 24px;
}
#email,#password{
  border:none;
  outline: none;
  width:70%;
  padding: 0 0 16px 0px;
  font-size: 20px;
  border-bottom: 1px solid #343a40;
  background-color: #f8f9fa;
}
#password{
  margin-bottom: 24px;
}
#loginButton,#signupLink{
  display: inline-block;
  text-decoration: none;
  padding: 8px 48px;
  font-size: 18px;
  border:none;
  color:#fff;
  background-color: rgba(13, 132, 231, 0.441);
  border-radius: 9px;
}
.ortext{
  font-size: 18px;
  margin:0px 12px;
}
a#signupLink {
  background-color: #f8f9fa;
  color:rgba(13, 133, 231, 0.966);
  border:1px solid rgb(0,0,0,1);
}
/* SIGNUP PAGE STYLING */
.body{
  width: 100vw;
  height: 100vh;
  
}
#signupBox{
  width:960px;
  margin: auto;
  margin-top:48px;
  text-align: center;
  background-size: cover;
}
#signupBox h1{
  margin-bottom: 32px;
  font-size: 64px;
  font-weight: 400;
  font-family: "Rubik",sans-serif;
}
#signupBox input{
  width: 50%;
  border: none;
  outline: none;
  border-bottom: 1px solid #343a40;
  background-color: inherit;
  padding: 0 0 16px 0px;
  font-size: 20px;
  margin-bottom: 16px;
}
#submitButton{
  display: inline-block;
  text-decoration: none;
  padding: 8px 48px;
  font-size: 18px;
  border:none;
  color:#fff;
  background-color: rgba(13, 132, 231, 0.441);
  border-radius: 9px;
}
a#signinLink{
  text-decoration: none;
  font-size: 16px;
  margin-left: 8px;
  padding: 8px 8px;
  color:rgba(13, 132, 231, 0.441)
}
#placeOrderButton{
  display: inline-block;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  background-color: rgba(13, 132, 231, 0.441);
  border-radius: 9px;
  margin-top: 32px;
  margin-left: 50%;
  transform: translate(-50%,0);
  transition: all 0.3s;
}
#placeOrderButton:hover{
  outline: 2px solid black;
  opacity: 0.8;
}
#productOrderBody{
  padding: 32px;
  margin: auto;
  border-radius: 16px;
}
#productOrderBody div:last-child{
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
}


#payButton{
  display: inline-block;
  font-size: 16px;
  padding: 16px 16px;
  border: none;
  background-color: rgba(13, 132, 231, 0.441);
  border-radius: 9px;
  margin-top: 32px;
  margin-left: 50%;
  transform: translate(-50%,0);
  width:200px;
  transition: all 0.3s;
}
#payButton:hover{
  opacity: 0.8;
}