/* home page product card styling */
#productHomeBody{
  width:1050px;
  margin: auto;
  display: grid;
  padding:32px 32px;
  grid-template-columns :1fr 1fr 1fr;
  column-gap: 80px;
  row-gap: 30px;
}
img{
  width: 100%;
  height: 200px;
}
.product-card{
  border-radius: 10px;
  box-shadow: 0 0 32px rgba(0,0,0,0.1);

  transition: all 0.3s;
}
.product-card:hover{
  box-shadow: 0 0 24px rgb(0,0,0,0.075);
  transform: translate(0,-20px);
}
#product-image{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-name{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.product-pricing{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px;
}
.btn{
  display: inline-block;
}
.searchButton{
  width: 500px;
  margin: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border: 1px solid #797f84;
  border-radius: 20px;
  padding: 8px;
}
#search{
  border: none;
  outline: none;
  font-size: 20px;
}
.button-search{
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: rgba(13, 133, 231, 0.966);
  height: 40px;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 20px
}
.icon.icon-search{
  stroke:#fff ;
  background-color:rgba(13, 133, 231, 0.966);
  margin: 2px 4px 0 0;
}
/* for alert div block */
#none{
  display: none;
}
#alert{
  opacity:0;
  position: fixed;
  top:0%;
  right:0%;
  width:400px;
  margin:auto;
  padding:16px 32px;
  border-radius: 10px;
  box-shadow: 0 16px 24px #868e96;
  text-align: center;
  margin-bottom: 16px;
  animation: cart 4s ease-out;
}
.icon{
  background-color: #74b816;
  stroke: white;
  border-radius: 50%;
  margin-left:8px
}

@keyframes cart {
  0%{
    opacity: 0;
  }
  20%{
    display: block;
    opacity:0.3;
  }
  40%{
    opacity:0.8;
  }
  50%{
    opacity:1;
  }
  75%{
    opacity:0.5;
  }
  100%{
    display: none;
    opacity:0;
  }
}